<div class="container">
     <div class="row" >
      @for(pokemon of pokemonsList; track pokemon.id) {
        <div class="col s12 m6 l3" >
          <div class="card" pkmnBorderCard (click)="goToPokemon(pokemon)">
            <div class="card-image" >
              <img [src]="pokemon.picture" alt="{{pokemon.name}}">
            </div>
            <div class="card-content">
              <span class="card-title">{{pokemon.name}}</span>
              <p>Créé le : {{pokemon.created | date:"dd/MM/yyyy" }}</p>
              @for(type of pokemon.types; track type) {
                <h2 class="type {{type | pokemonTypeColor}}">{{type}}</h2>
              }
            </div>
          </div>
        </div>
      }
    </div>
</div>
