<h1>Liste des Pokémons</h1>
<input 
    #input
    type="number"
    (keyup.enter)="selectedPokemon(input.value)"
/>

<p>Vous avez selectionne le pokemon : {{ pokemonSelected?.name }}</p>
<p>{{pokemonsList[0].name}}</p>
<p>{{pokemonsList[1].name}}</p>
<p>{{pokemonsList[2].name}}</p> 
<p>{{pokemonsList[3].name}}</p>
<p>{{pokemonsList[4].name}}</p>
<p>{{pokemonsList[5].name}}</p>
<p>{{pokemonsList[6].name}}</p>
<p>{{pokemonsList[7].name}}</p>
<p>{{pokemonsList[8].name}}</p>
<p>{{pokemonsList[9].name}}</p> 
<p>{{pokemonsList[10].name}}</p>
<p>{{pokemonsList[11].name}}</p>
