<h1>Liste des Pokémons</h1>
<input 
    #input
    type="number"
    (keyup.enter)="selectedPokemon(input.value)"
/>

@if(pokemonSelected){
   <p> Vous avez selectionne le pokemon : {{ pokemonSelected?.name }} </p>
}@else{
   <p>Aucun pokémon n'a été trouvé.</p> 
}

<p *ngIf="pokemonSelected">
    Vous avez selectionne le pokemon : {{ pokemonSelected?.name }} 
</p>

<p *ngIf="!pokemonSelected">
    Aucun pokémon n'a été trouvé.
</p>

@for(pokemon of pokemonsList; track pokemon.id) {
    <p>{{pokemon.name}}</p>
}

<p *ngFor="let pokemon of pokemonsList">
    {{pokemon.name}}
</p>
